@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

/* Changer la couleur des boutons */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: red!important; 
  font-size: 30px!important;
}

.swiper-pagination-bullet {
  display: none!important; /* Masque les dots */
}
.swiper-pagination-bullet-active {
  display: none!important; /* Masque le dot actif */
}


/* For slides that aren’t in view */
.swiper-slide-opacity:not(.swiper-slide-active) {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

/* Active slide */
.swiper-slide-active {
  opacity: 1;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.dynamic-background {
  background-image: url('/KomitaBg.png');
  background-size: cover; /* Ajustez selon la taille de vos motifs */
  background-repeat: repeat;
  animation: moveBackground 10s linear infinite; /* Ajustez la durée pour la vitesse */
}

